<%= include layoutTop %>
  <body>
  <table>
    <div id="container">
      <div id="remoteVideosContainer"></div>
      <div id="floorPlanCanvas"  >
          <img id="background" src="/images/floorplan.png"/>
          <img id="pointer" src="/images/pointer.png"/>
      </div>
    </div>
    <a href="#" data-bind="click: $root.refresh">Robot List</a>
      <thead>
        <tr>
            <th>Robot</th><th>Status</th>
         </tr>
       </thead>
      <tbody data-bind="foreach: availableStreams">
        <tr class="remoteStream">
            <td data-bind="css: { selected: state() == 'In Use' }, click: $root.chooseStream"><a data-bind="text: name"></a></td>
            <td data-bind="text: state"></td>
        </tr>
    </tbody>
  </table>
  <script>
    client = new RTCclient();
    vm = new RTCViewModel(client)
    ko.applyBindings(vm);
  </script>
<%= include layoutBottom %>